/* 
    Верхний градиент ------ background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
    Нижний градиент ----- background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #fff;
    overflow-y: scroll;
}

.container {
    margin: auto;
    width: 95%;
    max-width: 1280px;
    margin-bottom: 24px;
}

.header {
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 70%);
    background-color: #20202D;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

.header-image {
    display: flex;
    overflow: hidden;
}

.avatar {
    width: 100%;
    max-width: 330px;
    border-radius: 20% 20% 0% 20%;
}

.header-box {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header-title {
    font-size: 60px;
    margin-bottom: 10px;
}

.header-subtitle {
    font-size: 32px;
    margin-bottom: 70px;
}

.header-nav {
    display: flex;
    list-style: none;
}

.header-nav-menu {
    margin-right: 20px;
}

.nav-menu-link {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.information,
.project {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.information-title,
.project-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 32px;
}

.information-subtitle {
    font-size: 28px;
    margin-bottom: 15px;
}

.information-aboutme {
    font-size: 24px;
    margin-bottom: 45px;
}

.information-box {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.contact-link,
.skills,
.languages {
    font-size: 24px;
}

.information-skills,
.information-languges,
.information-contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
}

.contact-links {
    display: flex;
    flex-direction: column;
}

.contact-logo-img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
}

.project-code {
    font-size: 22px;
}

.code {
    background: #fff;
    color: black;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.project-name {
    text-align: center;
}

.project-img {
    height: 100%;
    width: 350px;
    border-radius: 5%;
    border: 3px solid gray;
}

/* Сверху не трогать, там все готово!!!! */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 15px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
    background-color: #20202D;
}

.github-logo-img {
    width: 50px;
    height: 50px;
}

.rs-logo-img {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 25% 25% 25% 25%;
    border-radius: 50%;
    padding: 5px;
}

/* media */
/* @media (max-width: 940px) {
    .avatar {
        max-width: 270px;
    }
}

@media (max-width: 830px) {
    .container {
        width: 90%;
    }

    .avatar {
        max-width: 200px;
    }

    .header-title {
        font-size: 40px;
    }

    .header-subtitle {
        font-size: 15px;
    }
}

@media (max-width: 770px) {
    .header-container {
        flex-direction: column;
    }

    .header-description {
        margin-top: 15px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .header-nav {
        display: none;
    }

    .header-description {
        margin-bottom: 0px;
    }
} */